
body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 2em;
  background: #FFFFFF;
}

h1 {
  font-style: bold;
  color: #0D9C90;
}

#back {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
  position: relative;
  float: left;
  margin-right: 10px;
  /*left: 100px;
  top: 150px;*/
}

#next {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
  position: relative;
  /*left: 350px;
  top: 150px;*/
}

.polaroid a {
  background: #FFFFFF;
  display: inline;
  float: left;
  /*margin: 55px 75px 30px;*/
  margin: 55px 25px 30px;
  
  padding: 15px 15px 30px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
}

.polaroid a:after {
  color: #000000;
  font-size: 15px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  content: attr(title);
  position: relative;
  top: 15px;
}
.polaroid img {
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.polaroid a:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1.2);
  z-index: 10;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
} 

.popup {
  position: relative;
  display: inline;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  /*bottom: 105%;*/
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
/*.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}*/

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
